body {
  padding-left: 25px;
  padding-top: 10px;
  background-image: url(house.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Noto Serif', serif;
  color: white;
}

#width {
  width: 55%;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 1px #222
}

button {
  margin-top: 20px;
  font-weight: bold;
}

select {
  margin-top: 20px;
}

p {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}
